@supports (-webkit-background-clip: text) or (-webkit-text-fill-color: transparent) {
    .gradient-header {
        background: linear-gradient(to right, #51B2D8 0%, #252560 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}